* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", Times, serif;
    font-size: large;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

p.indent {
    text-indent: 30px;
}

details, summary {
	margin-bottom: 0 !important;
}
details summary::-webkit-details-marker {
	display: none;
}
details summary {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.5rem;
	outline: none;
	cursor: pointer;
	font-size: 1.35rem;
	font-weight: 400;
	line-height: 1.2;
	border-bottom: 1px solid #000;
}
details[open] summary {
	background: rgb(220, 20, 60);
	color: #fff;
}

details summary:before {
    content:"\21E3"; 
	padding-right: 1.5rem;
}
details[open] summary:before {
	content:"\21E1";
}
details[open] {
	border-bottom: 1px solid #000;
}
details > div {
	padding: 1.5rem 1.5rem .5rem;
	background: #f2f2f2;
}
details > div > * {
	margin-top: 0;
	margin-bottom: 1rem;
}

details.scholarshipinfo summary:before,
details.scholarshipinfo[open] summary:before {
	display: none;
}

details.scholarshipinfo summary {
	justify-content: space-between;
}
details.scholarshipinfo summary:after {
	content:"\21E3";
}
details.scholarshipinfo[open] summary:after {
	content:"\21E1";
}

details.scholarshipinfo > div {
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
}
details.scholarshipinfo > div > a {
	width: 25%;
}
details.scholarshipinfo > div > a > img {
	width: 100%;
}
details.scholarshipinfo > div > div {
	flex: 1;
	margin: 0;
	padding-left: 1.5rem;
}
details.scholarshipinfo > div > div p {
	margin: 0 0 1rem 0;
}

.title {
    font-size: 3.75rem;
    line-height: 1;
    width: auto;
    padding: 3rem 2rem;
    color: rgb(220 38 38);
}

.header {
    font-size: medium;
    padding: 2rem 3rem;
}

.content {
    font-size: medium;
    padding: 1rem 3rem;
}

.content ul li {
    list-style:square;
    display:list-item;
    position: relative;
}

.banner {
    background: rgb(255, 255, 255);
    width: 100%;
    /*height: 150vh;*/
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),url(../img/caribbean.jpg));
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: 0;
    padding: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.navbar ul li a.active {
    color: rgb(220, 20, 60);
    font-weight: bold;
  }

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: rgb(220, 20, 60);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.carousel {
    background: rgb(238, 238, 238);
  }
  
.carousel img {
    display: block;
    height: 200px;
}

#footer {
    padding: 4em 0 2em 0;
    background-color: rgb(27, 27, 31);
    text-align: center;
}

#footer .inner {
    width: 50%;
    margin: 0 auto;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}


@media screen and ( min-width: 768px ) {
    .carousel img {
        height: 400px;
    }

    .title {
        font-size: 3rem;
        line-height: 1;
        width: auto;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 980px) {

    #footer .inner {
        width: 75%;
    }

    .title {
        font-size: 3rem;
        line-height: 1;
        width: auto;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 480px) {

    #footer .inner {
        width: 90%;
    }

    .title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        width: auto;
        padding: 3rem 2rem;
    }
}

@media (max-width:600px) {
	details summary {
		font-size: 1.5rem;
	}
	details.scholarshipinfo > div > a {
		width: 100%;
	}
	details.scholarshipinfo > div > div {
		padding: 0;
		padding-top: .5rem;
	}
    .banner .navbar ul { /* COME BACK AND FINISH IMPLEMENTATION */
        display: none;
    }
}