* {
    margin: 0%;
    padding: 0%;
    font-family: "Montserrat", Times, serif;
    font-size: large;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

.banner {
    background: rgb(255, 255, 255);
    width: 100%;
    /*height: 150vh;*/
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75),url(../img/caribbean.jpg));
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 85%;
    margin: 0;
    padding: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.navbar ul li a.active {
    color: crimson;
    font-weight: bold;
  }

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: crimson;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.title {
    width: auto;
    padding-bottom: 30px;
}

.header {
    font-size: medium;
    padding: 3rem;
}

.carousel {
    background: #EEE;
  }
  
.carousel img {
    display: block;
    height: 200px;
}

#footer {
    padding: 4em 0 2em 0;
    background-color: #1b1b1f;
    text-align: center;
}

#footer .inner {
    width: 50%;
    margin: 0 auto;
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
}
  
@media screen and ( min-width: 768px ) {
    .carousel img {
        height: 400px;
    }

    .columns {
        width: 100%;
    }
}

@media screen and (max-width: 980px) {

    #footer .inner {
        width: 75%;
    }

}

@media screen and (max-width: 480px) {

    #footer .inner {
        width: 90%;
    }

}
